body{
    background-color: rgb(241, 227, 185);
}
table{
    margin: auto;
    border:15px solid rgb(128, 58, 58);
    background-color: rgb(170, 164, 151);
    text-align: center;
}
.acık button{
    background-color: rgb(236, 236, 228) ;
    width: 60px;
    height: 60px;
    font-size: 3em;
    border: none;
    font-size: 40px;
    color:  rgb(236, 236, 228) ;
}
.koyu button{
    background-color: rgb(92, 92, 94);
    width: 60px;
    height: 60px;
    font-size: 3em;
    border: none;
    font-size: 40px;
    color:  rgb(92, 92, 94);
}
.acık button:hover{
    background-color: rgb(236, 236, 228) ;
    color: #1d1b1b;
    transition: 0.5s;  
}
.koyu button:hover{
    background-color: rgb(92, 92, 94);
    color: #1d1b1b;
    transition: 0.5s;  
}
.koyu{
    background-color: rgb(92, 92, 94);
    width: 60px;
    height: 60px;
    font-size: 3em;
}
.acık{
    background-color: rgb(236, 236, 228);
    width: 60px;
    height: 60px;
    font-size: 3em;
}
.harf{
    background-color: rgb(206, 150, 105);
    width: 60px;
    height: 20px;
}
.sayı{
    background-color: rgb(206, 150, 105);
    width: 20px;
    height: 60px;
}

